/* Scss > layout > _main-secondary.scss */
/*@use "../function/base";

.l__main__secondary {
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 838px;
    padding-bottom: 3rem;
    background-position: center;
    @include base.smartphone {
        top: 500px;
    }
}

.p-main__secondary__content {
    margin-top: -200px;
    @include base.smartphone {
        margin-top: 0px;
    }
}

.p-main__secondary__section {
    display: flex;
    justify-content: center;
    @include base.smartphone {
        display: block;
        flex-direction: column;
    }
}

.main__secondary--title {
    color: white;
    width: auto;
}

.main__secondary__text {
    color: white;
    flex-wrap: overflow-wrap;
}

.p-main__secondary__content {
    text-align: center;
    width: 260px;
    margin: 30px;
}
*/